@reference "tailwindcss";

:host {
  color: var(--text-main);
}

.welcome-wrapper {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 25rem;
  min-width: 15rem;
  gap: 3rem;
  padding: 0rem 1.5rem;
  background: var(--background-main-gradient);
}

.login-signup-form {
  @apply rounded-2xl shadow-md;
}

.inner-wrapper {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  flex-direction: column;
}

.inner-wrapper p {
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  text-shadow: 0 0 3px #777777a6;
  color: var(--background-main);
}

mat-mdc-card-title {
  margin-bottom: 16px;
}
