.main-page-wrapper {
  padding: 20px;
  position: relative;
  margin: 0 auto;
  width: 74%;
  max-width: 482px;
  top: 50%;
  border-radius: 35px;
}

.login-signup-form {
  padding: 20px;
  display: grid;
  grid-gap: 29px;
  position: relative;
  text-align: center;
}

h1 {
  font-weight: 100;
}

mat-mdc-card-title {
  margin-bottom: 16px;
}
