<app-navgation-bar></app-navgation-bar>

<div class="home">
  <div class="header-wrapper" [ngClass]="{ 'order-2': toggleSwitchChecked }">
    <div class="header-wrapper-part-1">
      <div class="content">
        <div class="content__container">
          <p class="content__container__text"></p>

          <ul class="content__container__list">
            <li class="content__container__list__item">Lynch !</li>
            <li class="content__container__list__item">Wenders !</li>
            <li class="content__container__list__item">Bergmann !</li>
            <li class="content__container__list__item">Tarkovsky !</li>
            <li class="content__container__list__item">Coppola !</li>
            <li class="content__container__list__item">Kieslowski !</li>
            <li class="content__container__list__item">Ozu !</li>
            <li class="content__container__list__item">Kaurismäki !</li>
          </ul>
        </div>
      </div>

      <h1 [ngStyle]="toggleButton()">CUB Film Selection</h1>
    </div>
    <div class="site-information">
      <aside>
        CUB Film Data allows you to load information about specific arthouse
        movies, directors, and genres.
      </aside>
    </div>
    <div class="toggle-container">
      <span style="font-size: 12px">left/right</span>
      <input
        type="checkbox"
        id="toggle-switch"
        class="toggle-switch"
        [ngStyle]="toggleButton()"
        (change)="onToggleSwitchChange($event)"
      />
      <label for="toggle-switch" class="toggle-label"></label>
    </div>
  </div>

  <div class="movie-card-wrapper">
    <div class="search-bar">
      <mat-form-field appearance="fill">
        <mat-label>Search Movies</mat-label>
        <input
          matInput
          placeholder="Enter movie title"
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
        />
      </mat-form-field>
    </div>
    <div class="container">
      <mat-card
        *ngFor="let movie of movies; let i = index"
        class="movie-container"
      >
        <mat-card-header
          ><mat-card-title>
            {{ movie.Title }}
          </mat-card-title>
          <mat-card-subtitle
            >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
          >
        </mat-card-header>

        <img
          src="{{ movie.ImagePath }}"
          alt="{{ movie.Title }}"
          (click)="openMovieView(movie)"
          loading="lazy"
        />
        <mat-card-actions>
          <a mat-button color="primary" (click)="openGenreDialog(movie)">
            Genre
          </a>
          <a mat-button color="primary" (click)="openDirectorDialog(movie)"
            >Director</a
          >
          <a mat-button color="primary" (click)="openSynopsisDialog(movie)">
            Synopsis
          </a>
          <mat-icon (click)="toggleFavorite(movie._id, movie.Title)">
            {{ isFavorite(movie._id) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<footer
  [ngStyle]="toggleButton()"
  [class.margin-left-63vw]="toggleSwitchChecked"
>
  <div class="footer-content">
    <!-- <div class="socialmedia">Social Media</div> -->
    <ul class="social-media-icons">
      <li class="listitem">
        <a href="www.twitter.com"
          ><img
            src="../../assets/icons/icons8-linkedin-128.svg"
            width="30"
            height="30"
        /></a>
      </li>
      <li class="listitem">
        <a href="www.twitter.com"
          ><img
            src="../../assets/icons/iconmonstr-linkedin-5.svg"
            width="30"
            height="30"
        /></a>
      </li>
      <li class="listitem">
        <a href="www.twitter.com"
          ><img src="../../assets/icons/x_logo.svg" width="30" height="30"
        /></a>
      </li>
    </ul>
  </div>
</footer>
