<mat-card>
  <mat-card-header>
    <mat-card-title> Director </mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <mat-card-subtitle class="normal-heading">
      {{ director.Name }}
    </mat-card-subtitle>

    <mat-card-subtitle class="normal-heading"
      >* {{ director.Birth }}@if (director.Death) {
      <span class="normal-heading"> - † {{ director.Death }}</span>
      }</mat-card-subtitle
    >

    <br />
    <mat-card-subtitle> {{ director.Bio }} </mat-card-subtitle>
    <br />
    <br />
  </mat-card-content>
</mat-card>
