// .profile-wrapper {
//   padding: 111px 20px;
//   display: grid;
//   grid-gap: 108px;
//   max-width: 693px;
//   margin: 0 auto;
//   font-size: 20px;
// }

.profile-wrapper {
  display: grid;
  grid-template-columns: 33.3% 66.6%;
  grid-gap: 20px;
  align-items: start;
  padding: 20px;
  justify-content: space-around;

  @media (max-width: 600px) {
    grid-template-columns: 100%; /* Switch to a single column */
  }
}

.user-info {
  // padding: 31px 13px;
  padding-bottom: 15px;
}
.user-info:hover {
  background-color: #f487f9;
  cursor: pointer;
  transition: background-color 0.1s;
}

.user-info-content {
  display: grid;
  grid-gap: 4px;
}

.update-user-wrapper {
  // padding: 18px 13px;
}

.update-user-wrapper:hover {
  // padding: 18px 13px;
  background-color: #f3d9da;
  cursor: pointer;
  transition: background-color 0.1s;
}

.update-user-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

.update-button {
  margin-left: 3px;
  margin-top: -20px;
}

.delete-wrapper {
  display: grid;
  grid-gap: 10px;
  // padding: 18px 13px;
  padding-bottom: 10px;
}

.delete-wrapper:hover {
  background-color: #ffffc46b;
  cursor: pointer;
  transition: background-color 0.1s;
}

.delete-button {
  margin-left: 6px;
}
