@reference "tailwindcss";

.profile-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  // max-height: 70svh;
  // overflow-y: auto;
  padding: 1rem;
  padding-bottom: 35rem;
  gap: 2rem;
  background-color: var(--background-alt);
  @media (max-width: 600px) {
    grid-template-columns: 100%; /* Switch to a single column */
  }
}

.container-profile {
  display: grid;
  background: var(--background-alt);
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}

.container-profile h1 {
  position: sticky;
  top: 0;
}

mat-card-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.user-info {
  padding-bottom: 15px;
  grid-column: 1/3;
}

.user-info-content {
  display: grid;
  grid-gap: 4px;
}

.update-user-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

.update-button {
  margin-left: 3px;
  margin-top: -20px;
}

.delete-wrapper {
  padding-bottom: 10px;
  background: rgb(255, 214, 214);
}

.delete-button {
  margin-left: 6px;
}
