<app-navigation-bar></app-navigation-bar>
<div class="container-profile">
  <h1>Your account</h1>
  <div class="profile-wrapper">
    @if (user) {
    <mat-card class="user-info">
      <mat-card-header>
        <mat-card-title>Account details:</mat-card-title>
        <mat-card-subtitle
          >This information is linked to your login. Your password is never
          displayed.</mat-card-subtitle
        >
      </mat-card-header>
      <br />
      <mat-card-content class="user-info-content"
        ><mat-card-subtitle>
          Username: {{ userData.username }}</mat-card-subtitle
        >
        <mat-card-subtitle> Email: {{ userData.email }}</mat-card-subtitle>
        <mat-card-subtitle>
          Birthday: {{ userData.birthday | date }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          Favourite Movies: {{ userData.favouriteMovies }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          Member since: @if(user.createdAt){
          <span> {{ user.createdAt | date }} </span>}@else {
          <span>-</span>
          }
        </mat-card-subtitle>
        <mat-card-subtitle
          >Last login: @if (user.lastLoginAt) {<span>
            {{ user.lastLoginAt | date }}</span
          >}@else {
          <span>-</span>
          }</mat-card-subtitle
        >
      </mat-card-content>
    </mat-card>
    } @if (user) {
    <mat-card class="update-user-wrapper">
      <mat-card-header>
        <mat-card-title>Update details</mat-card-title>
        <mat-card-subtitle
          >Only filled fields will be updated. You can update username, email,
          birthday, and password.</mat-card-subtitle
        >
      </mat-card-header>

      <form class="update-user-form">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            name="username"
            [(ngModel)]="userData.username"
            placeholder="Choose a new Username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline"
          ><input
            matInput
            type="password"
            name="password"
            [(ngModel)]="userData.password"
            placeholder="Use a strong password (min. 12 characters)."
          />
        </mat-form-field>
        <mat-form-field appearance="outline"
          ><input
            matInput
            type="date"
            name="birthday"
            [(ngModel)]="userData.birthday"
            placeholder="Update your birthday"
            value="{{ user.Birthday | date }}"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            name="email"
            [(ngModel)]="userData.email"
            placeholder="Update your email"
            value="{{ user.Email }}"
          />
        </mat-form-field>
      </form>
      <mat-card-actions
        ><button
          mat-raised-button
          color="primary"
          class="update-button"
          type="submit"
          (click)="updateProfile()"
        >
          Save Changes
        </button>
        <button
          mat-raised-button
          color="primary"
          class="update-button"
          type="button"
        >
          Reset
        </button></mat-card-actions
      >
    </mat-card>
    } @if (user) {
    <mat-card class="delete-wrapper">
      <mat-card-header>
        <mat-card-title>Danger zone</mat-card-title>
        <mat-card-subtitle
          >Deleting your account permanently removes your profile data.<br /><br />
          This can’t be undone.</mat-card-subtitle
        >
      </mat-card-header>

      <mat-dialog-content
        ><mat-card-actions
          ><button
            mat-raised-button
            color="warn"
            class="delete-button"
            (click)="openConfirmationDialog()"
          >
            Delete profile
          </button></mat-card-actions
        >
      </mat-dialog-content>
    </mat-card>
    }
  </div>
</div>
