@use "@angular/material" as mat;

@include mat.core();

$CUB-Film-Angular-client-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$CUB-Film-Angular-client-accent: mat.m2-define-palette(
  mat.$m2-pink-palette,
  A200,
  A100,
  A400
);

$CUB-Film-Angular-client-warn: mat.m2-define-palette(mat.$m2-red-palette);

$CUB-Film-Angular-client-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $CUB-Film-Angular-client-primary,
      accent: $CUB-Film-Angular-client-accent,
      warn: $CUB-Film-Angular-client-warn,
    ),
  )
);

@include mat.all-component-themes($CUB-Film-Angular-client-theme);

:root {
  --base-font: 16px;
  --text-main: white;
  --secondary-text: #f487f9;
  --background-main: #2b1b1b;
  --background-alt: cornflowerblue;
  --background-main-gradient: linear-gradient(
    135deg,
    var(--background-main) 0%,
    #382626 42%,
    #1e1515 100%
  );
}

html {
  background-color: black;
}

.mat-mdc-card-subtitle {
  color: gray !important;
}

.mat-mdc-button:not(:disabled) {
  color: var(--background-alt) !important;
}

.normal-heading {
  color: var(--background-main) !important;
  font-weight: 900 !important;
  // letter-spacing: 0.01em !important;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0px auto;
  font-family: Geist, sans-serif;
  position: relative;
  background: var(--background-alt);
}

@font-face {
  font-family: "Geist";
  src: local("Geist"),
    url("../src/assets/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: local("Geist"),
    url("../src/assets/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: light;
}
